<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Rock+Salt|Source+Code+Pro:300,400,600" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card.css') }}">
  <!-- <script src="{{ url_for('static', filename='js/card.js') }}"></script> -->
</head>

<body>

  <!-- ระบบ AFC -->
  <div class="card_part" onclick="flip(event)">
    <div class="card__front card_part_afc">
    </div>
    <div class="card__back card_back">
      <img class="card__front-square card__square" src="{{url_for('static', filename='image/mrta_white.svg')}}">
      <!-- <div class="card__front-logo card__logo"><button class="btn btn-light btn-sm"><i class="fas fa-search"></i>
          ดูเงื่อนไขการเข้าใช้บริการ</button>
      </div> -->
      <div class="padding-content">
        <h6 class="mb-2 text-white" name="">{{station_name2}}</h6>
        <h5 class="mb-2 card_number" name="">{{card_id2}}</h5>
        <h6 class="mb-2 text-white" name="">{{card_name2}}</h6>
      </div>

      <div class="row">
        <div class="col-6 text-left">
          <h6 class="card__info" name="">Exp. {{exp2}}</h6>
        </div>
        <div class="col-6 text-right">
          <h6 class="card__info" name="">Status : {{status_en2}}</h6>
        </div>
      </div>
    </div>
  </div>
  
</body>
<script>
  function flip(event){
	var element = event.currentTarget;
	if (element.className === "card_part") {
    if(element.style.transform == "rotateY(-180deg)") {
      element.style.transform = "rotateY(0deg)";
    }
    else {
      element.style.transform = "rotateY(-180deg)";
    }
  }
};
</script>
</html>