<!DOCTYPE html>
<html lang="en">

<body>
    <footer class="mrta-footer mrta-section" id="show-android">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-12 col-12">
                    <div class="text-white mb-4">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-2 my-4">
                                <img src="{{url_for('static', filename='image/mrta_white.svg')}}" class="mr-2"
                                    width="95">
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-10">
                                <h2 class="mrta-heading-2 my-3">Contact Us</h2>
                                <div class="row footer-content mb-3">
                                    <div class="col-1"><i class="fas fa-map-marked-alt"></i></div>
                                    <div class="col-10" style="text-overflow: clip;
                                    white-space: nowrap;">BUSINESS AND PROPERTY <br>
                                        MANAGEMENT DEPARTMENT<br>
                                        Mass Rapid Transit Authority of Thailand<br>
                                        175 Rama IX Rd.,<br> HuayKhwang, Bangkok 10310</div>
                                </div>
                                <!-- <div class="row footer-content mb-3">
                                    <div class="col-1"><i class="far fa-envelope"></i></div>
                                    <div class="col-10">parkandride@mrta.co.th
                                    </div>
                                </div> -->
                                <div class="row footer-content mb-3">
                                    <div class="col-1"><i class="fas fa-phone-alt"></i></div>
                                    <div class="col-10">0 2716 4000 - 233</div>
                                </div>
                                <div class="row footer-content mb-3">
                                    <div class="col-1"><i class="fas fa-question"></i></div>
                                    <div class="col-10"><a href="{{url_for('faq_th')}}">FAQ</a></div>
                                </div>  
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                    <h2 class="mrta-heading-2 my-3">Social Media</h2>
                    <div class="rounded-social-buttons">
                        <a class="social-button" href="https://www.facebook.com/MRTA.PR" target="_blank"><img
                                src="{{url_for('static', filename='image/facebook.svg')}}"></a>
                        <a class="social-button" href="https://twitter.com/mrt_purpleline" target="_blank"><img
                                src="{{url_for('static', filename='image/twitter.svg')}}"></a>
                        <a class="social-button" href="https://www.youtube.com/user/9bhubeth" target="_blank"><img
                                src="{{url_for('static', filename='image/youtube.svg')}}"></a>
                        <a class="social-button" href=" https://lin.ee/aBOAvtQ" target="_blank"><img
                                src="{{url_for('static', filename='image/line.svg')}}"></a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-6 col-12">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="mrta-heading-2 my-3">Download MRTA PARKING</h2>
                        <div class="text-white footer-content">
                            <div>
                                <a class="logo-mrta-ios" href="https://apps.apple.com/th/app/mrta-parking/id1579312949?l=th">
                                <img src="{{url_for('static', filename='image/ios app.png')}}" class="mr-2" width="155"></a>
                            </div>
                            <div>
                                <a class="logo-mrta-ios" href="https://play.google.com/store/apps/details?id=com.mrta.mrtaparking">
                                <img src="{{url_for('static', filename='image/android app.png')}}" class="mr-2" width="155"></a>              
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 text-center mt-5">
                    <p class="mb-0">
                        Copyright ©
                        <script>document.write(new Date().getFullYear());</script> Mass Rapid Transit Authority of
                        Thailand. All rights reserved.
                        <!-- <a href="{{url_for('login')}}" class="login_manage col-lg-12 text-right">Login Manage</a> -->
                    </p>
                </div>

            </div>
        </div>

    </footer>

</body>
<script>
    if (navigator.userAgent.match(/(iPod|iPhone|iPad|iOS|safari)/)) {
        document.getElementById("show-android").style.display = "none";
    }
</script>

</html>