<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>
<style>
    .footer {
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0.5rem 1rem;
        background-color: #efefef;
        text-align: center;
    }
</style>

<body>
    <footer class="footer" style="background-color: #E2E5EA;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mb-0">
                        สงวนลิขสิทธิ์ ©
                        <script>document.write(new Date().getFullYear());</script> การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    </p>
                </div>

            </div>
        </div>
    </footer>

</body>

</html>