<aside class="main-sidebar elevation-4 sidebar-collapse" style="background-color: #1a086e; overflow-y: auto; overflow-x: auto;">
    <a href="#" class="brand-link" align="center">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/manage/adminlte.css') }}">
        <img src="{{ url_for('static', filename='image/manage/logo/logo.png') }}" style="width: 30%;">
    </a>
    <p align="center" style="color: white;">MRTA Parking Management</p>

    <div class="sidebar" style="white-space: nowrap;">
        <!-- Sidebar Menu -->
        {% for col in session['per_page'] %}
            {% if col == 'all' %}
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="{{ url_for('dashboard')}}" class="nav-link nav-link-active {% if request.endpoint=='dashboard' %}active{%endif %}">
                                <i class="fas fa-chart-bar"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a> <!-- link to Dashboard page-->
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('news_manage')}}" class="nav-link {% if request.endpoint=='news_manage' %}active{%endif %}">
                                <i class="fas fa-book-open"></i>
                                <p>
                                    การจัดการข่าวสาร
                                </p>
                            </a> <!-- link to news page-->
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('activity_manage')}}" class="nav-link {% if request.endpoint=='activity_manage' %}active{%endif %}">
                                <i class="fas fa-puzzle-piece"></i>
                                <p>
                                    การจัดการกิจกรรม
                                </p>
                            </a> <!-- link to activity page-->
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('parking_manage')}}" class="nav-link {% if request.endpoint=='parking_manage' %}active{%endif %}">
                                <i class="fas fa-car"></i>
                                <p>
                                    การจัดการลานจอด
                                </p>
                            </a> <!-- link to parking page-->
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('user_manage')}}" class="nav-link {% if request.endpoint=='user_manage' %}active{%endif %}">
                                <i class="fas fa-user-cog"></i>
                                <p>
                                    การจัดการผู้ใช้งาน
                                </p>
                            </a> <!-- link to User operation page-->
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('customer_manage')}}" class="nav-link {% if request.endpoint=='customer_manage' %}active{%endif %}">
                                <i class="fas fa-user"></i>
                                <p>
                                    การจัดการข้อมูลลูกค้า
                                </p>
                            </a> <!-- link to Customer page-->
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('capacity_member')}}" class="nav-link {% if request.endpoint=='capacity_member' %}active{%endif %}">
                                <p>
                                    <i class="fas fa-users"></i> การจัดการ Capacity
                                </p>
                            </a> <!-- link to Capacity Member-->
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-file-alt"></i>
                                <p>
                                    รายงาน
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{{ url_for('car_in_out_report')}}" class="nav-link {% if request.endpoint=='car_in_out_report' %}active{%endif %}">
                                        <p>รายงานข้อมูลรถเข้า - ออก</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url_for('member_info_report')}}" class="nav-link {% if request.endpoint=='member_info_report' %}active{%endif %}">
                                        <p>รายงานข้อมูลลูกค้า</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url_for('income_summary_report')}}" class="nav-link {% if request.endpoint=='income_summary_report' %}active{%endif %}">
                                        <p>รายงานสรุปรายได้ค่าจอด</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-cog"></i>
                                <p>
                                    การตั้งค่า
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{{ url_for('holiday_settings')}}" class="nav-link {% if request.endpoint=='holiday_settings' %}active{%endif %}">
                                        <p>ปฏิทินวันหยุด</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
</div>
</aside>