<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เงื่อนไขการสมัครสมาชิก</title>
    {% include "include/customer-css.html" %}
    {% include "include/customer-js.html" %}
</head>

<body>
    {% include "comps/navbar.html" %}

    <div class="mrta-parking-area-02">
        <div class="container">
            <div class="row pt-4">
                <div class="card-agree w-100 shadow">
                    <div class="card-header-agree">
                        <h4 class="mb-0 text-center text-white">เงื่อนไขสมัครสมาชิก</h4>
                    </div>
                    <div class="card mx-4 my-3 xxx">
                        <div class="terms-and-conditions" style="height: 57vh;">
                            เงื่อนไขการสมัครสมาชิก Application (parkandride.mrta.co.th)
                            โครงการให้บริการสมัครและต่ออายุการ ใช้บริการจอดรถรายเดือนแบบออนไลน์
                            <br><br>
                            <div class="text-left">
                                1. การสมัครใช้งาน Application (parkandride.mrta.co.th) ผู้สมัครจะต้องกรอกรายละเอียด
                                ได้แก่ ชื่อ-นามสกุล E-mail และรหัสผ่าน (Password)
                                โดยข้อมูลดังกล่าวจะต้องเป็นข้อมูลที่ถูกต้องและเป็นความจริงเท่านั้น
                                <br><br>
                                2. หลังทำการสมัคร ผู้สมัครจะต้องยืนยันตัวตนทาง Email ที่ได้ทำการสมัครไว้
                                จึงจะสามารถใช้งาน Application ดังกล่าวได้
                                <br><br>
                                3. หลังจากผู้สมัครได้ทำการยืนยันตัวตนทาง Email แล้ว ผู้สมัครจะไม่สามารถเปลี่ยน Email
                                ผ่านทาง Application ดังกล่าวได้ หากต้องการเปลี่ยน Email
                                ผู้สมัครจะต้องติดต่อขอเปลี่ยนแปลงข้อมูลดังกล่าวที่ห้องทำบัตรรายเดือน เท่านั้น
                                <br><br>
                                4. หลังจากสมัครใช้งาน Application สำเร็จแล้ว ผู้ใช้บริการสามารถเปลี่ยนรหัสผ่าน
                                (Password) ได้ด้วยตนเองผ่านทาง Application โดยเลือกที่ “ลืมรหัสผ่าน (Forgot Password)”
                                ระบบจะทำการส่งอีเมล (Email) เพื่อยืนยันการเปลี่ยนรหัสผ่าน (Password) ใหม่ให้แก่ผู้สมัคร
                                <br><br>
                                5. การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) สามารถเข้าถึงและตรวจสอบข้อมูลของผู้สมัครได้
                                <br><br>
                                6. ข้อมูลของผู้สมัครที่ได้ลงทะเบียนไว้ ผู้สมัครยอมรับและตกลงว่าเป็นสิทธิของ รฟม.
                                ซึ่งผู้สมัครอนุญาตให้ รฟม.ใช้ข้อมูลดังกล่าวในงานที่เกี่ยวข้องกับ รฟม. เท่านั้น
                                <br><br>
                                7. ผู้สมัครตกลงว่าจะไม่นำข้อมูลจาก Application และ Website ไปใช้เผยแพร่
                                อ้างอิงโฆษณาหรือก่อให้เกิดความเสียหายแก่ผู้หนึ่งหรือหลายราย
                                รวมทั้งจะไม่นำข้อมูลดังกล่าวไปใช้ในทางที่ผิดต่อกฎหมายหรือศีลธรรมอันดี
                                <br><br>
                                8. ผู้สมัครยินยอมให้ รฟม. แจ้งข้อมูลข่าวสาร หรือประชาสัมพันธ์ต่างๆ ผ่าน Email
                                เพื่อให้ข้อมูลข่าวสาร ประชาสัมพันธ์ หรือจัดส่งแบบสอบถามต่างๆ
                                โดยแสดงผลผ่านกล่องข้อความอีเมล (Email)
                                <br><br>
                                9. ผู้สมัครจะต้องรักษารหัสผ่าน หรือชื่อเข้าใช้งานในระบบสมาชิกเป็นความลับ
                                และหากมีผู้อื่นสามารถเข้าใช้จากทางชื่อของผู้สมัครได้ ทาง รฟม. จะไม่รับผิดชอบใดๆ ทั้งสิ้น
                                <br><br>
                                10. กรณีที่ผู้สมัครไม่สามารถสมัครใช้งาน Application ได้ หรือพบปัญหาในการสมัคร
                                กรุณาติดต่อที่ห้องทำบัตรรายเดือน
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center mb-4">
                        <button class="accept col-6 col-lg-4" disabled>ยอมรับเงื่อนไข</button>
                    </div>
                </div>
                <div class="col-lg-12 text-center my-3">
                    <a class="a-link" href="{{url_for('member_register_step1')}}">ยกเลิก</a>
                </div>
            </div>

        </div>
    </div>

    {% include "comps/footer.html" %}
</body>
<script>
    document.getElementsByClassName("terms-and-conditions")[0].addEventListener("scroll", checkScrollHeight, false);

    function checkScrollHeight() {
        var agreementTextElement = document.getElementsByClassName("terms-and-conditions")[0];

        if (agreementTextElement.clientHeight + agreementTextElement.scrollTop >= agreementTextElement.scrollHeight) {
            document.getElementsByClassName("accept")[0].disabled = false;
        }
    }
</script>

</html>