<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายการที่ต้องชำระ</title>
    {% include "include/customer-css.html" %}
    {% include "include/customer-js.html" %}
</head>
<style>
    .text-main-billslist {
        color: #FF0000;
    }
    .text-body-billslist {
        color: #091E78 !important;
    }
</style>
<body>
    {% include "comps/navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-reserve my-3 mt-5">

                    <div class="card-body">
        
                        <div class="row py-2  mb-0">
        
                            <div class="col-8 h5 font-weight-bold text-main-billslist">รอการชำระ

                            </div>
                            <div class="col-4 h5 text-right text-main-billslist">20 บาท</div>

                                <div class="col-8 h5 text-body-billslist" style="color: #091E78;">กท1234</div>
            
                                <div class="col-4 text-right" style="color: #091E78;">ค่าบริการการจอง</div>
            
                                <div class="col-7 "style="color: #091E78;">สถานีบางรักน้อยท่าอิฐ</div>
            
                                <div class="col-5 text-right" style="color: #091E78;">04/01/2565</div>
                            
        
                        </div>          
        
                    </div>
                    
                </div>

                <div class="card-reserve my-3 mt-3">

                    <div class="card-body">
        
                        <div class="row py-2  mb-0">
        
                            <div class="col-8 h5 font-weight-bold text-main-billslist">รอการชำระ

                            </div>
                            <div class="col-4 h5 text-right text-main-billslist">20 บาท</div>

                                <div class="col-8 h5 text-body-billslist" style="color: #091E78;">กท1234</div>
            
                                <div class="col-4 text-right" style="color: #091E78;">ค่าบริการการจอง</div>
            
                                <div class="col-7 "style="color: #091E78;">สถานีบางรักน้อยท่าอิฐ</div>
            
                                <div class="col-5 text-right" style="color: #091E78;">04/01/2565</div>
                            
        
                        </div>          
        
                    </div>
                    
                </div>

                <div class="card-reserve my-3 mt-3">
                    <div class="card-body">
        
                        <div class="row py-2  mb-0">
        
                            <div class="col-8 h5 font-weight-bold text-main-billslist">รอการชำระ

                            </div>
                            <div class="col-4 h5 text-right text-main-billslist">20 บาท</div>

                                <div class="col-8 h5 text-body-billslist" style="color: #091E78;">กท1234</div>
            
                                <div class="col-4 text-right" style="color: #091E78;">ค่าบริการการจอง</div>
            
                                <div class="col-7 "style="color: #091E78;">สถานีบางรักน้อยท่าอิฐ</div>
            
                                <div class="col-5 text-right" style="color: #091E78;">04/01/2565</div>
                            
        
                        </div>          
        
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>

    {% include "comps/fivemenu.html" %}
</body>


</html>