<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel Payment</title>
    {% include "include/customer-css.html" %}
    {% include "include/customer-js.html" %}
</head>
<style>
    body {
        background: #F5F5F5;
    }
</style>

<body>
    {% include "comps/navbar-2.html" %}
    <div class="container">
        <div class="mrta-section">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="{{url_for('static', filename='image/fail.svg')}}" class="my-2" width="125">
                            <h3 class="py-3">ท่านได้ยกเลิกการทำรายการ</h3>
                            <h6 class="my-2">
                                กรุณาแตะเพื่อทำรายการใหม่อีกครั้ง
                            </h6>

                            <div class="my-4">
                                <a type="button" href="{{url_for('payment_reserve')}}"
                                    class="btn btn-mrta-danger-2 col-lg-5 col-8">กลับไปหน้าชำระเงิน</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>

        </div>


    </div>
    {% include "comps/footer.html" %}
</body>

</html>