<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ยืนยันการชำระค่าบริการ uat</title>
    {% include "include/customer-css.html" %}
    {% include "include/customer-js.html" %}
</head>
<style>
    body {
        background: #F5F5F5;
    }

    .scrollme {
        overflow-y: auto;
    }
</style>

<body>
    <!-- แถบเมนู -->
    {% include "comps/navbar-2.html" %}

    <div class="container">
        <div class="mrta-section">
            <h3 class="text-center mb-4">ยืนยันการชำระค่าบริการ</h3>
            <div class="row">
                <div class="col-md-8">
                    <div class="scrollme">
                        <table class="table table-resposive">
                            <thead>
                                <tr>
                                    <th>รหัสบัตร</th>
                                    <th>อาคาร/ลานจอดรถ</th>
                                    <th>จำนวนเดือน</th>
                                    <th>ราคา</th>
                                    <th>วันที่เริ่ม</th>
                                    <!-- <th></th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> {{card_id}}</td>
                                    <td>{{parkname}}</td>
                                    <td rowspan="2">{{month}}</td>
                                    <td>{{total2}}</td>
                                    <td>{{service_start_date}}</td>
                                    <!-- <td rowspan="2"><button type="button" class="btn btn-primary btn-sm"><i
                                            class="far fa-file-alt mr-2"></i>
                                        เรียกดู</button></td> -->
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>ค่ามัดจำบัตร</td>
                                    <td>{{deposit_amount}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card mb-2">
                        <div class="card-header header-mrta-1">
                            <h5 class="mb-0">ที่อยู่บนใบกำกับภาษี</h5>
                        </div>
                        <div class="card-body py-2">
                            <div class="row">
                                <div class="col-6 mt-1">
                                    {%if address_type == 'home'%}
                                    <img src="{{url_for('static', filename='image/home.svg')}}" class="mr-2" width="20">
                                    ที่อยู่ปัจจุบัน
                                    <input type="hidden" id="address_type" value="{{address_type}}">
                                    <input type="hidden" id="id_" value="{{id_}}">
                                    {%else%}
                                    <img src="{{url_for('static', filename='image/home.svg')}}" class="mr-2" width="20">
                                    ที่อยู่ที่ทำงาน
                                    <input type="hidden" id="address_type" value="{{address_type}}">
                                    <input type="hidden" id="id_" value="{{id_}}">
                                    {%endif%}
                                </div>
                                <div class="col-6 text-right">
                                    <a type="button" id="infobtn" onclick="address_info()" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#viewaddressModal">
                                        <i class="far fa-file-alt mr-2"></i>
                                        เรียกดู</a>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="viewaddressModal" tabindex="-1"
                                    aria-labelledby="viewaddressModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="viewaddressModalLabel">ที่อยู่</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div id="info" class="modal-body">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card my-2">
                        <div class="card-header header-mrta-1">
                            <h5 class="mb-0">สรุปค่าบริการ</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-7">ค่าบริการ</div>
                                    <div class="col-5 text-right">{{total2}}</div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <div class="row">
                                    <div class="col-6">VAT 7%</div>
                                    <div class="col-6 text-right">0</div>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-7 h5">ยอดค่าบริการรวม</div>
                                    <div class="col-5 text-right h5 mb-0">{{total3}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-2">
                        <div class="card-header header-mrta-1">
                            <h5 class="mb-0">เลือกวิธีการชำระเงิน</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="choose form-group">
                                        <input type="radio" name="payment_method" id="cash"  onclick="submitCash()">
                                        <label for="cash">
                                            <img src="{{url_for('static', filename='image/money.svg')}}" class="mb-1"
                                                width="40"><br>
                                            <span>เงินสด</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="choose form-group">
                                        <input type="radio" name="payment_method" id="krungthai"
                                            onclick="submitCGPINAPP()">
                                        <form name="cgpInApp" id="cgpInApp"
                                            action="https://cgp.uat.krungthai.com/P2PRegister/" method="post"> <!--uat "https://www.inwd.ktb.co.th/P2PRegister/"-->
                                            <input type="hidden" name="tran_type" value="R">
                                            <input type="hidden" name="site_name"
                                                value="https://parking.mrta.co.th/uat/payment-methods/"><br><br> <!--"https://parking.mrta.co.th/uat/payment-methods/-->
                                            <input type="hidden" name="term_id" value='{{terminal_id}}'>
                                            <input type="hidden" name="term_seq" value='{{term_seq}}'>
                                            <input type="hidden" name="ref1" value='{{encrypt_ref1}}'>
                                            <input type="hidden" name="cid" value='{{encrypt_ref1}}'>

                                        </form>
                                        <label for="krungthai" style="margin-top: -45px;">
                                            <img src="{{url_for('static', filename='image/krungthai.svg')}}"
                                                class="mb-1" width="40"><br>
                                            <span>ผูกบัญชี</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="choose form-group">
                                        <input type="radio" name="payment_method" id="credit_card"
                                            onclick="submitDebit()">
                                        <form name="payFormCcard" id="payFormCcard" method="post" action="https://uatktbfastpay.ktb.co.th/SIT/eng/payment/payForm.jsp">  <!--  UAT ->>action="https://uatktbfastpay.ktb.co.th/SIT/eng/payment/payForm.jsp"-->
                                            <input type="hidden" name="merchantId" value="{{merchant_id}}">
                                            <input type="hidden" name="amount" value="{{total}}">
                                            <input type="hidden" name="orderRef" value="{{ref2}}">
                                            <input type="hidden" name="currCode" value="764">
                                            <input type="hidden" name="successUrl"
                                                value="https://parking.mrta.co.th/payment/success">
                                            <input type="hidden" name="failUrl"
                                                value="https://parking.mrta.co.th/payment/fail">
                                            <input type="hidden" name="cancelUrl"
                                                value="https://parking.mrta.co.th/payment/cancel">
                                            <input type="hidden" name="payType" value="N">
                                            <input type="hidden" name="lang" value="E">
                                            <input type="hidden" name="orderRef1" value={{ref1}}>
                                            <input type="hidden" name="securityKey" value={{securityKey}}>
                                        </form>
                                        <label for="credit_card">
                                            <img src="{{url_for('static', filename='image/credit-card.svg')}}"
                                                class="mb-1" width="40"><br>
                                            <span>เครดิต/เดบิต</span>
                                        </label>

                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="choose form-group">
                                        <input type="radio" name="payment_method" id="promptpay"
                                            onclick="window.open('/qr-code', '_blank')">
                                        <label for="promptpay">
                                            <img src="{{url_for('static', filename='image/qr-code.svg')}}" class="mb-1"
                                                width="40"><br>
                                            <span>QR Code</span>
                                        </label>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button class="accept col-7 mb-3" onclick="checkCus()">ชำระเงิน</button><br>
                                        <a class="a-link h6 ml-2" href="#">ยกเลิก</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include "comps/popup-cookie.html" %}

    {% include "comps/footer.html" %}
</body>
<script>
        function checkCus(){
                window.location.href = '/methodCash'
    }
    function submitCash(){
        $.ajax({
            url:'/update_paymentName_cash',
            type:'POST',
            data:'update',
            success:function(response){
                console.log("Customers select cash")
            }
        })
 
    }
    function submitDebit(){
        $.ajax({
            url:'/update_paymentName_debit',
            type:'POST',
            data:'update',
            success:function(response){
                console.log("Customers select Debit")
            }
        })
       document.getElementById("payFormCcard").submit();
    }
    function submitCGPINAPP(){
        $.ajax({
            url:'/update_paymentName_cgp',
            type:'POST',
            data:'update',
            success:function(response){
                console.log("Customers select CGP")
            }
        })
     document.getElementById("cgpInApp").submit();
    }
</script>
<script>
    function address_info(){
        id = $('#id_').value
        address_type = $('#address_type').value
        console.log(id,' ',address_type)
    }
</script>
<script>
    function address_info(){
        id = $('#id_').val()
        address_type = $('#address_type').val()
        fetch('address_info/'+id+'/'+address_type).then(function(response){
            response.json().then(function(data){
                document.getElementById('info').innerHTML = data.address
            })
        })
    }
</script>
</html>