<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    {% include "include/customer-css.html" %}
    {% include "include/customer-js.html" %}
</head>
<style>
    dl,
    ol,
    ul {
        font-family: 'Sukhumvit Text';
    }
</style>

<body>
    {% include "comps/navbar.html" %}

    <div class="container mb-5" style="margin-top: 80px;">
        <h3 class="text-center mb-4">นโยบายสิทธิส่วนบุคคล (Privacy Policy)</h3>

        <div class="col-md-12">
            <p>
                การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) ยินดีต้อนรับผู้ใช้บริการทุกท่านเข้าสู่เว็บไซต์
                https://parking.mrta.co.th ซึ่งอยู่ในความดูแลของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)
                และดำเนินการจัดทำ “นโยบายสิทธิส่วนบุคคล” (Privacy Policy) ฉบับนี้ขึ้น
                เพื่อคุ้มครองข้อมูลส่วนบุคคลของผู้ใช้ที่เข้ามาใช้บริการของเว็บไซต์ https://parking.mrta.co.th
            </p>

            <p>
                โดยการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) มีหน้าที่ในการรักษาความน่าเชื่อถือ
                จึงดำเนินการดังต่อไปนี้เพื่อเป็นการปกป้องข้อมูลส่วนตัวของผู้ใช้จากบุคคลอื่นดังนี้
            </p>

            <ol>
                <li>การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) จะเผยแพร่ข้อมูลส่วนบุคคล (Personal Data)
                    เมื่อได้รับความยินยอมเท่านั้น</li>
                <li>การเผยแพร่ข้อมูลหรือการแบ่งปันให้เป็นไปตามที่กฎหมายกำหนด</li>
                <li>การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) ดำเนินการรักษาความปลอดภัยข้อมูลส่วนบุคคลตามมาตรฐานที่กำหนด
                </li>
            </ol>

            <p>
                นโยบายสิทธิส่วนบุคคลนี้จะใช้ดำเนินการกับ https://parking.mrta.co.th และแอพพลิเคชั่น
                parkandride.mrta.co.th รวมถึงแพลตฟอร์มอื่น ๆ ที่อยู่ภายใต้โดเมนเนม https://parking.mrta.co.th
                หากมีการเปลี่ยนแปลงใด ๆ เกิดขึ้นกับนโยบายส่วนบุคคล การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)
                จะดำเนินการแจ้งผู้ใช้ทันที
            </p>

            <h4>การเก็บรวบรวมข้อมูลส่วนบุคคล</h4>
            <ol>
                <li>เพื่อความสะดวกในการให้บริการทุกท่านที่เข้าสู่เว็บไซต์ https://parking.mrta.co.th สำหรับ สมัครสมาชิกต่ออายุลานจอดรถ รฟม. รายเดือน รวมถึงสิทธิประโยชน์อื่น ๆ ที่ผู้ใช้ พึงได้รับหลังจากการสมัครสมาชิก ผู้ใช้จะต้องสร้างบัญชีกับ การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) ผู้ใช้จะต้องแจ้ง ชื่อ-นามสกุล รหัสบัตรประชาชน ที่อยู่ หมายเลขโทรศัพท์​ อีเมล รหัสผ่าน เอกสารสำเนาเล่มรถ เอกสารสำเนาบัตรประชาชน และยอมรับในข้อตกลง นโยบายสิทธิส่วนบุคคล</li>
                <li>หลังจากสมัครสมาชิกแล้ว ผู้ใช้สามารถให้ข้อมูลเพิ่มได้ เช่น รหัสไปรษณีย์ เลขประจำตัวบัตรประชาชน เพื่อใช้ในการจัดทำข้อมูลเพื่อให้ผู้ใช้ได้รับ ข้อมูลที่เหมาะสมมากที่สุด</li>
                <li>เพื่อประโยชน์ในการให้บริการ และการปรับปรุงคุณภาพการบริการให้ดียิ่งขึ้น การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) จำเป็นต้องเก็บรวบรวมข้อมูลเพิ่มเติม ได้แก่ IP Address เวลาที่เยี่ยมชม​ การใช้บริการก่อนที่เข้ามาที่เว็บไซต์ https://parking.mrta.co.th</li>
                <li>การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) ขอแนะนำให้ผู้ใช้ตรวจสอบนโยบายสิทธิส่วนบุคคล หากผู้ใช้เห็นว่าไม่สมควร และไม่ต้องการยอมรับเงื่อนไขดังกล่าว ผู้ใช้สามารถยกเลิกการ เป็นสมาชิกได้ทันที</li>
            </ol>

            <h4>การใช้ข้อมูลส่วนตัว</h4>
            <ol>
                <li>https://parking.mrta.co.th  จะใช้ข้อมูลส่วนบุคคลของสมาชิกตามที่มีความจำเป็นเท่านั้น เช่น ชื่อ-นามสกุล ที่อยู่ เบอร์โทร ทั้งนี้เพื่อใช้ในการติดต่อสื่อสารและให้ เป็นไปตามเงื่อนไขในการสมัครสมาชิกที่จอดรถรายเดือน รฟม. เท่านั่น</li>
                <li>https://parking.mrta.co.th  ขอรับรองว่าจะไม่นำข้อมูลส่วนบุคคลของผู้ใช้ที่ได้เก็บรวบรวมไว้ ไปเผยแพร่แก่บุคคลภายนอกโดยเด็ดขาดเว้นเสียแต่จะได้รับ การยินยอมจากผู้ใช้เท่านั้น</li>
                <li>ในกรณีที่ https://parking.mrta.co.th ได้ว่าจ้างหน่วยงานอื่นเพื่อดำเนินการเกี่ยวกับข้อมูลส่วนบุคคลของผู้ใช้ เช่น การวิเคราะห์ข้อมูลเชิงสถิติหรือการ ดำเนินกิจกรรมต่าง ๆ https://parking.mrta.co.th จะกำหนดให้การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)หรือบุคคลที่ได้รับมอบหมายให้ดำเนินการดังกล่าว เก็บรักษาความลับและความ ปลอดภัยของข้อมูลผู้ใช้ ห้ามมิให้นำข้อมูลส่วนบุคคลไปเผยแพร่โดยเด็ดขาดนอกเหนือจากกิจกรรมของ https://parking.mrta.co.th เท่านั้น</li>
                <li>ในกรณีที่ต้องการยกเลิกบัญชี Application "MRTA PARKING" หรือ https://parking.mrta.co.th ผู้ใช้สามารถดำเนินการยกเลิกบัญชีได้ที่ เมนู "ข้อมูลผู้ใช้งาน" และยกเลิกบัญชีผู้ใช้ ได้ทันที</li>
                <li>กรณีผู้ใช้งานต้องการสมัคร สมาชิกใหม่ Application "MRTA PARKING" หรือ https://parking.mrta.co.th ผู้ใช้งานสามารถนำอีเมล สมัครบริการที่เมนู "สร้างบัญชีผู้ใช้งาน"</li>
            </ol>

            <h4>สิทธิในการควบคุมข้อมูลส่วนบุคคล</h4>
            <p>เพื่อประโยชน์ในการรักษาความปลอดภัยและความลับของข้อมูลส่วนบุคคล https://parking.mrta.co.th  จึงกำหนดกฎและสิทธิในการเข้าถึงข้อมูลส่วนบุคคลและจัดให้มีช่องทางการสื่อสารแบบปลอดภัยสำหรับข้อมูลด้วยการเข้ารหัสข้อมูล โดยการใช้ Secure Socket (SSL) Protocal เข้ามาใช้ในการรับส่งข้อมูล</p>
            <p>การใช้คุกกี้ (Cookies)</p>
            <p>คุกกี้ คือ ข้อมูลที่ https://parking.mrta.co.th ส่งไปยัง Browser ของผู้ใช้บริการ และเมื่อมีการติดตั้งคุกกี้ลงไปในระบบของผู้ใช้แล้ว จะทำให้เว็บไซต์ https://parking.mrta.co.th สามารถบันทึกข้อมูลของผู้ใช้ไว้จนกว่าผู้ใช้จะออกจาก Browser หรือ ทำการลบคุกกี้ หรือไม่อนุญาตให้คุกกี้ทำงานก่อน</p>
            <p>การปรับปรุงนโยบายความเป็นส่วนตัว</p>
            <p>คุกกี้ คือ ข้อมูลที่ https://parking.mrta.co.th อาจจะทำการปรับปรุงหรือแก้ไขนโยบายความเป็นส่วนตัวโดยไม่แจ้งให้ผู้ใช้ทราบล่วงหน้า ทั้งนี้เพื่อความเหมาะสมและประสิทธิภาพในการให้บริการ จึงขอแนะนำให้ผู้ใช้บริการอ่านนโยบายความเป็นส่วนตัวทุกครั้งที่เข้าเยี่ยมชมเว็บไซต์</p>
            <p>ในกรณีที่มีข้อสงสัย ข้อเสนอแนะ หรือติชมเกี่ยวกับนโยบายสิทธิส่วนบุคคล หรือนโยบายความเป็นส่วนตัว https://parking.mrta.co.th ยินดีที่จะตอบข้อสงสัย ข้อเสนอแนะ อันจะเป็นประโยชน์ต่อการปรับปรุงบริการ สามารถติดต่อได้ตามช่องทางด้านล่างนี้</p>
            <p>โทรศัพท์ : 02-716-4044</p>
            <p>โทรสาร : 02-716-4030</p>
            <p>อีเมล : parkandride@mrta.co.th</p>
        </div>
    </div>

    {% include "comps/footer.html" %}
</body>

</html>