<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ลืมรหัสผ่าน</title>
    {% include "include/customer-css.html" %}
    {% include "include/customer-js.html" %}
</head>
<style>
    body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: top;
        background-image: url(/static/image/bangkokads_0010.png);
        width: 100%;
        height: 100%;
    }
</style>

<body>
    {% include "comps/navbar-1.html" %}

    <div class="container">
        <div class="mrta-section">
            <div class="row py-3">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form class="form-mrta" method="post">
                        {{ form.hidden_tag() }}
                        <div class="text-center">
                            <h3 class="py-3">ลืมรหัสผ่าน</h3>
                        </div>
                        
                        <div class="form-input">
                            <label class="icon fas fa-envelope"></label>
                            {{ form.email(class='input',placeholder='อีเมล',type='email')}}
                            <!-- <input type="email" id="email" name="email" class="input" placeholder="อีเมล" 
                            value="{{request.form.email}}" required> -->
                        </div>

                        <div class="form-input">
                            <label class="icon fas fa-lock"></label>
                            <span class="button fas fa-eye" onclick="switchVisibility()"></span>
                            {{ form.password(class='input',placeholder='รหัสผ่านใหม่',type='password',id='password')}}
                            <!-- <input type="password" id="renew-password" name="renew_password" class="input" placeholder="รหัสผ่านใหม่"
                                value="{{request.form.renew_password}}" required> -->
                        </div>
                        <div class="form-input">
                            <label class="icon fas fa-lock"></label>
                            <span class="button fas fa-eye" onclick="switchVisibility2()"></span>
                            {{ form.confirm_password(class='input',placeholder='ยืนยันรหัสผ่านใหม่',type='password',id='renew-conpassword')}}
                            <!-- <input type="password" id="renew-conpassword" name="renew_conpassword2" class="input" placeholder="ยืนยันรหัสผ่านใหม่"
                                value="{{request.form.renew_conpassword2}}" required> -->
                        </div>
                        <!-- message error -->
                        {% for message in get_flashed_messages()%}
                        <div class="alert alert-danger" role="alert">
                            {{message}}
                          </div>
                        {% endfor %}
                        <div class="text-center"> 
                            <button type="submit" 
                                class="btn mrta-btn-primary-1 mrta-shadow-primary-1 col-6">ยืนยันอีเมล</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>


    </div>
    {% include "comps/popup-cookie.html" %}
    {% include "comps/footer.html" %}
</body>
<script>
    // แปรตัวรหัสผ่านเป็นตัวอักษร
    const passwordField = document.querySelector('#password')
    function switchVisibility() {
        if (passwordField.getAttribute('type') === 'password') passwordField.setAttribute('type', 'text')
        else passwordField.setAttribute('type', 'password')
    }

    // -------------------------------------------------------------------------------------------------
    // ตรวจสอบรหัสบัตรประชาชน
    $(document).ready(function () {
        $('#idcard').on('keyup', function () {
            if ($.trim($(this).val()) != '' && $(this).val().length == 13) {
                id = $(this).val().replace(/-/g, "");
                var result = Script_checkID(id);
                if (result === false) {
                    $('span.error').removeClass('true').text('เลขบัตรประชาชนผิด');
                } else {
                    $('span.error').addClass('true').text('เลขบัตรประชาชนถูกต้อง');
                }
            } else {
                $('span.error').removeClass('true').text('');

            }
        })
    });
    // ยืนยันรหัสผ่าน
    const passwordField2 = document.querySelector('#renew-conpassword')
    function switchVisibility2() {
        if (passwordField2.getAttribute('type') === 'password') passwordField2.setAttribute('type', 'text')
        else passwordField2.setAttribute('type', 'password')
    }

    // ตรวจสอบตัวแปรบัตรประชาชน
    function Script_checkID(id) {
        if (!IsNumeric(id)) return false;
        if (id.substring(0, 1) == 0) return false;
        if (id.length != 13) return false;
        for (i = 0, sum = 0; i < 12; i++)
            sum += parseFloat(id.charAt(i)) * (13 - i);
        if ((11 - sum % 11) % 10 != parseFloat(id.charAt(12))) return false;
        return true;
    }
    function IsNumeric(input) {
        var RE = /^-?(0|INF|(0[1-7][0-7]*)|(0x[0-9a-fA-F]+)|((0|[1-9][0-9]*|(?=[\.,]))([\.,][0-9]+)?([eE]-?\d+)?))$/;
        return (RE.test(input));
    }
</script>
</html>