<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เงื่อนไขการใช้งาน Web Application</title>
    {% include "include/customer-css.html" %}
    {% include "include/customer-js.html" %}
</head>
<style>
    #accordion {
        margin: 50px auto;
        width: 75%;
    }

    #accordion .question {
        background: #fff;
        margin-bottom: 15px;
    }

    #accordion .question header {
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #accordion .question header h5 {
        margin: 0;
        font-weight: 500;
        flex: 1;
    }

    #accordion .question header i {
        padding: 0 10px;
        transition: 0.2s ease;
    }

    #accordion .question main {
        display: none;
        padding: 15px;
        box-sizing: border-box;
    }

    #accordion .question main p {
        margin: 0;
    }

    #accordion .question.active header i {
        transform: rotate(180deg);
    }
</style>

<body>
    {% include "comps/navbar.html" %}

    <div class="text-center" style="margin-top: 80px;">
        <h3 class="mt-3">เงื่อนไขและข้อกำหนด</h3>
    </div>

    <div id="accordion">
        <div class="question">
            <header>
                <h5>1. ทรัพย์สินทางปัญญา</h5>
                <i class="fas fa-chevron-down"></i>
            </header>
            <main>
                <p>ท่านตกลงและยอมรับว่า บรรดาข้อมูล ข้อความ เนื้อหา รูปภาพ วีดีโอ เสียง โลโก้ โปรแกรมทางคอมพิวเตอร์
                    และ/หรือส่วนใดส่วนหนึ่งของเว็บไซต์นี้ หรือภาพกราฟฟิกทั้งหลาย
                    ได้รับการออกแบบโดยการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) ซึ่งได้รับความคุ้มครองตามกฎหมาย,
                    สนธิสัญญาระหว่างประเทศ และหรือสิทธิในความเป็นเจ้าของอื่น ๆ และตามกฎหมายของประเทศไทยและของประเทศอื่น
                    แต่ไม่จำกัดเฉพาะ ลิขสิทธิ์เครื่องหมายการค้า เครื่องหมายบริการ ชื่อทางการค้า ฐานข้อมูล
                    ความลับทางการค้า สิทธิบัตร โนว์ฮาว (Know how) ฐานข้อมูลของลูกค้า ข้อมูลส่วนบุคคลของท่าน
                    และสิทธิในความเป็นเจ้าของไม่ว่าในรูปแบบใด ๆ ก็ตามฯลฯ ซึ่งเป็นกรรมสิทธิ์ ลิขสิทธิ์ สิทธิ
                    และทรัพย์สินของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)
                </p><br>
                <p>
                    คำว่า การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) รวมถึงเครื่องหมายและชื่อรายการ
                    ถือเป็นเครื่องหมายการค้าหรือชื่อทางการค้าหรือเครื่องหมายบริการของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.) สำหรับบรรดาเครื่องหมายการค้า ชื่อทางการค้า เครื่องหมายบริการ ชื่อสินค้า และเครื่องหมายอื่น ๆ
                    ทั้งหมดซึ่งปรากฏในเว็บไซต์นี้ใช้เพื่อตกแต่งรูปลักษณ์ของเว็บไซต์
                    และเพื่อประโยชน์ของเจ้าของเครื่องหมายหรือสินค้านั้น ๆ
                    โดยการใช้ดังกล่าวไม่มีความตั้งใจเพื่อกระทำการใด ๆ อันเป็นการละเมิดสิทธิในเครื่องหมายการค้า
                    เว้นแต่มีข้อความระบุไว้เป็นอย่างอื่นในเว็บไซต์น
                </p><br>
                <p>
                    ท่านตกลงและรับทราบว่า เว็บไซต์ของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)เป็นเพียงสื่อกลางในการเผยแพร่ข่าว ข่าวสาร และ/หรือ บทความแก่ผู้ใช้บริการเท่านั้น
                    ในกรณีที่เกิดข้อพิพาทใด ๆในทางกฎหมาย ท่านตกลงสละสิทธิเรียกร้องในการดำเนินคดีใด ๆ ไม่ว่าทางแพ่งหรืออาญา
                    ต่อการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) และ/หรือ กรรมการของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)
                </p>

            </main>
        </div>
        <div class="question">
            <header>
                <h5>2. การใช้บริการ</h5>
                <i class="fas fa-chevron-down"></i>
            </header>
            <main>
                <p>บรรดาข้อมูล หรือไฟล์ หรือเอกสารที่ปรากฏในเว็บไซต์นี้ ท่านตกลงและยอมรับว่า
                    ผู้ใช้เว็บไซต์มีสิทธิเพียงเข้าดู ดาวน์โหลด อัพโหลดเนื้อหาและพิมพ์เนื้อหาดังกล่าว
                    เพื่อการใช้เป็นประโยชน์ส่วนtตัว
                    และมีวัตถุประสงค์ที่ถูกต้องตามกฎหมายภายใต้ข้อกำหนดและเงื่อนไขฉบับนี้ที่ระบุไว้ในเว็บไซต์นี้เท่านั้น
                    และจะไม่ใช้เว็บไซต์นี้เพื่อประโยชน์ในทางการค้าหรือประโยชน์อื่นใดที่ขัดต่อกฎหมายและศีลธรรมอันดีของประชาชน
                    หรือใช้เว็บไซต์นี้เป็นช่องทางในการหลอกลวงหรือก่อให้เกิดความเสียหายต่อบุคคลใด
                    โดยผู้ใช้เว็บไซต์ตกลงที่จะเก็บบรรดาข้อความซึ่งเกี่ยวกับการแสดงถึงลิขสิทธิ์และสิทธิในความเป็นเจ้าของอื่นใดที่ปรากฏในเว็บไซต์นี้ไว้ด้วย
                    โดยผู้ใช้เว็บไซต์ต้องไม่ทำสำเนา หรือจัดเก็บ
                    หรือดาวน์โหลดข้อมูลไม่ว่าจะในรูปของเอกสารหรือในรูปแบบสื่ออิเล็กทรอนิกส์ ส่ง โอน จัดทำ เผยแพร่ พิมพ์
                    ทำซ้ำ สร้างงานที่พัฒนา แสดง แพร่กระจาย จำหน่าย ให้สิทธิ เช่า ให้เช่า หรือโอนเนื้อหาใด ๆ
                    ให้แก่บุคคลภายนอกไม่ว่าจะในทางการค้าหรือได้รับประโยชน์หรือในทางอื่นใดโดยที่ไม่ได้รับความยินยอมเป็นลายลักษณ์อักษรล่วงหน้าจากการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.) นอกจากนี้
                    ท่านจะไม่กระทำการอย่างใดอย่างหนึ่งไม่ว่าจะในรูปของเอกสารหรือในรูปแบบสื่ออิเล็กทรอนิกส์
                    หรือรูปแบบใดก็ตาม ดังต่อไปนี้</p>

                <p>
                    ทำซ้ำ จัดพิมพ์ขึ้นใหม่ ทำสำเนา ดัดแปลง ดาวน์โหลด อัพโหลด ติดประกาศ เผยแพร่ จัดเก็บ
                    หรือทำให้ปรากฏต่อสาธารณชน ซึ่งงานอันผิดกฎหมายหรือศีลธรรมโดยไม่ได้
                    รับอนุญาตเป็นลายลักษณ์อักษรจากการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ก่อนล่วงหน้า
                    การทำละเมิดสิทธิในทรัพย์สินทางปัญญา เช่น ลิขสิทธิ์ สิทธิบัตร เครื่องหมายการค้า ความลับทางการค้า หรือ
                    ทรัพย์สินทางปัญญาอื่น ๆ ตามที่กฎหมายกำหนดไม่ว่า โดยวิธีการใด
                    ดาวน์โหลด อัพโหลด ติดประกาศ หรือ กระทำการใด ๆ เพื่อนแสวงหาประโยชน์โดยมิชอบจากเนื้อหา หรือ ข้อความ
                    งานใด ๆ จากเว็บไซต์นี้โดยปราศจากความยินยอม
                    เป็นลายลักษณ์อักษรล่วงหน้าจากการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) และ/หรือ
                    ตั้งกระทู้หรือทำให้ปรากฏซึ่งข้อความที่ก่อให้เกิดความเสียหายต่อการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.) สมาชิกผู้ใช้อินเทอร์เน็ต และ/หรือ บุคคลภายนอก
                    อัพโหลด ติดประกาศ ส่งอีเมล์
                    หรือดำเนินการอื่นใดอันมีผลทำให้เป็นการรบกวนหรือแทรกแซงการทำงานของระบบคอมพิวเตอร์โดยการส่งไวรัส(Virus)
                    หรือ โปรแกรมคอมพิวเตอร์ในรูปแบบต่าง ๆ ที่ออกแบบมาเพื่อขัดขวาง ทำลาย จำกัด การทำงานของระบบคอมพิวเตอร์
                    หรือ คอมพิวเตอร์ฮาร์ดแวร์ หรือ โปรแกรมซอฟต์แวร์
                    ในการสื่อสารของสมาชิกของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) หรือ ผู้ใช้บริการอินเทอร์เน็ต หรือ
                    บุคคลภายนอก
                    ใช้โปรแกรมคอมพิวเตอร์ซอฟแวร์ ขัดขวาง
                    แทรกแซงการทำงานหรือให้บริการของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) หรือเครื่องคอมพิวเตอร์
                    และระบบคอมพิวเตอร์ของบุคคลภายนอก
                    กระทำการใด ๆ อันขัดต่อประกาศหรือนโยบายของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)ที่ระบุไว้ในข้อกำหนดและเงื่อนไขฉบับนี้ และ/หรือ
                    การแก้ไขเพิ่มเติมข้อกำหนดและเงื่อนไขที่การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)จะประกาศหรือ
                    กำหนดขึ้นภายหลัง
                    หากการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)ทราบว่าท่านดำเนินการอย่างหนึ่งอย่างใดอันเป็นการขัดต่อข้อกำหนด และเงื่อนไขที่กำหนดในเว็บไซต์นี้
                    การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)มีสิทธิที่จะระงับการให้บริการแก่ท่านโดยไม่บอกกล่าวล่วงหน้า
                    และ/หรือ อาจดำเนินการในทางกฎหมายกับท่านตามที่การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)เห็นสมควรทันที
                </p>
            </main>
        </div>
        <div class="question">
            <header>
                <h5>3. การจำกัดความรับผิด</h5>
                <i class="fas fa-chevron-down"></i>
            </header>
            <main>
                <p>
                    ท่านตกลงและยอมรับว่า บรรดาข้อมูลบางส่วนที่ปรากฏในเว็บไซต์นี้
                    ข้อความดังกล่าวเป็นข้อความที่เขียนหรือทำขึ้นโดยบุคคลภายนอกหรือผู้ใช้บริการเว็บไซต์บางส่วน
                    ซึ่งไม่เกี่ยวข้องและอยู่ในความควบคุมของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)
                    การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ไม่มีความรับผิดใด ๆ ที่เกิดจากเนื้อหาหรือข้อความดังกล่าว
                    ไม่ว่าจะเป็นความเสียหาย การฟ้องร้อง เรียกร้อง หรือกระทำการละเมิดใด ๆ ไม่ว่าทางแพ่งหรือทางอาญา
                    อาชญากรรมทางคอมพิวเตอร์หรือความรับผิดใด ๆ ในทางกฎหมาย ซึ่งมีผลกระทบต่ออุปกรณ์คอมพิวเตอร์ ทรัพย์สิน
                    สิทธิ หรือทรัพย์สินใด ๆ ที่เกี่ยวข้องกับท่านหรือบุคคลภายนอก ไม่ว่าจะโดยความผูกพันตามสัญญา ละเมิด
                    ความรับผิดทางอาญา หรือโดยประการอื่น ๆ
                </p>
                <p>
                    กรณีเกิดความล่าช้า ผิดพลาด ไม่ถูกต้องครบถ้วน หยุดชะงัก ไม่สามารถเข้าถึงระบบ หรือข้อมูลในเว็บไซต์นี้
                    (“ความบกพร่อง”) อันเนื่องมาจากความบกพร่องของบุคคลหรือทางอิเล็กทรอนิกส์
                    การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ไม่รับรองว่าการเข้าถึง
                    และการใช้ข้อมูลในเว็บไซต์จะเป็นไปอย่างต่อเนื่อง และไม่รับผิดต่อผลของความบกพร่องใด ๆที่เกิดขึ้น
                    อย่างไรก็ดีการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)จะใช้ความพยายามอย่างดีที่สุด
                    ที่จะสร้างความมั่นใจในความเที่ยงตรง ความถูกต้องและความน่าเชื่อถือของข้อมูล
                    โดยที่การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ได้รับข้อมูลจากแหล่งที่มีความน่าเชื่อถือ
                    และอยู่บนพื้นฐานของความน่าเชื่อถือได้ในระดับหนึ่ง (“as is” basis) ทั้งนี้
                    การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) คณะกรรมการ ผู้จัดการ ผู้บริหาร พนักงาน ลูกจ้าง
                    ตัวแทนหรือที่ปรึกษาของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) ไม่รับผิดในเว็บไซต์ซึ่งรวมถึงข้อมูล
                    เนื้อหา ผลของความผิดพลาดหรือการละเว้นใด ๆ ไม่ว่าจะเกิดจากสัญญา ละเมิด ประมาท หรือเหตุอื่นใด
                    ที่อาจจะเกิดขึ้น นอกจากนี้การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)ไม่รับรองในเรื่องความถูกต้องครบถ้วน ทันกาลทันเวลา ของข้อมูลดังกล่าวด้วย
                </p>

                <p>
                    การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ไม่รับรองว่า เว็บไซต์ของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)ปราศจากโปรแกรมหรือไฟล์ที่อาจสร้างความเสียหายต่อระบบของผู้ใช้เว็บไซต์ ซึ่งรวมถึงไวรัส,
                    คอมพิวเตอร์เวิร์ม, โทรจันฮอร์ส, สปายแวร์ หรือไฟล์ซึ่งเป็นอันตรายอื่น ๆ และจะไม่รับผิดต่อความสูญหาย
                    เสียหาย ค่าสินไหมทดแทน ค่าใช้จ่าย หรือค่าเสียหาย
                    ที่เกิดจากโปรแกรมหรือไฟล์ที่อาจสร้างความเสียหายดังกล่าว นอกจากนี้ การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)ไม่รับผิดต่อความเสียหายอันเกิดจากสภาพความพร้อมใช้งานอย่างต่อเนื่องของการสื่อสารโดยใช้สายโทรศัพท์
                    การสื่อสารไร้สาย สื่อในการสื่อสารอื่น ๆ และอุปกรณ์ ที่ใช้ในการเข้าถึงการบริการเว็บไซต์นี้
                </p>

                <p>
                    การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ไม่รับผิดใด ๆ
                    ต่อผู้ใช้เว็บไซต์หรือบุคคลใด ๆในความเสียหายหรืออันตรายที่อาจเกิดขึ้นจากการใช้เว็บไซต์
                    ทั้งจากเหตุที่อยู่นอกเหนือการควบคุม หรือจากเหตุประมาทเลินเล่อในการรวบรวมข้อมูล เก็บรักษาข้อมูล
                    การแปล การแก้ไข การเขียน การรายงาน หรือการนำส่งข้อมูลใด ๆ
                </p>


                <p>
                    การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ไม่รับผิดต่อผู้ใช้เว็บไซต์หรือบุคคลใด ๆจากการเรียกร้องใด ๆ
                    ไม่ว่าในทางสัญญา ในการทำละเมิด รวมถึงความประมาท หรือเหตุอื่นใด ที่เกิดจากเนื้อหา
                    หรือจากการใช้เว็บไซต์หรือที่เกี่ยวกับกับการใช้เว็ปไซต์ การตัดสินใจ หรือการกระทำใด ๆ
                    ที่เกิดจากความเชื่อถือในเนื้อหาดังกล่าวของผู้ใช้เว็บไซต์ หรือในความเสียหาย ความสูญหาย ค่าสินไหมทดแทน
                    หรือความรับผิดใด ๆ รวมถึงการสูญหายของข้อมูลหรือผลประโยชน์ ถึงแม้ว่าการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)จะได้รับแจ้งว่าอาจจะเกิดความเสียหายดังกล่าวขึ้นได้ก็ตาม
                </p>
                <p>
                    ข้อยกเว้นความรับผิดของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ดังกล่าวนี้
                    ให้รวมไปถึงความผิดพลาดจากการให้บริการข่าว และ/หรือ บทความ รับส่งข้อมูลหรือการกระทำการใด ๆ
                    ของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) พันธมิตรทางธุรกิจของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.) ผู้ให้บริการร่วมหรือผู้ใช้บริการอินเทอร์เน็ตอื่น ๆ
                </p>
            </main>
        </div>

        <div class="question">
            <header>
                <h5>4. ข้อสละสิทธิในเนื้อหาบนเว็บไซต์</h5>
                <i class="fas fa-chevron-down"></i>
            </header>
            <main>
                <p>ข้อความ ภาพวาดหรือข้อมูลต่าง ๆ บนเว็บไซต์ บางส่วนเป็นการรวบรวมข้อมูลจากแหล่งต่าง ๆ มาเพื่อเป็นข้อมูล
                    ความรู้และประโยชน์แก่ผู้ใช้บริการ ซึ่งการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)ได้ใช้ความพยายามอย่างเต็มที่ในการรวบรวมข้อมูลต่าง ๆ ให้ถูกต้อง และทันสมัย (update) อยู่เสมอ
                    อย่างไรก็ตาม การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ไม่รับรองความน่าเชื่อถือ ความถูกต้อง
                    และความทันสมัย (update) ของข้อมูลดังกล่าว ท่านตกลงและยอมรับว่า การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)ไม่มีอำนาจในการดูแลควบคุมข้อมูลทั้งหมดบนเว็บไซต์นี้ เนื่องจาก
                    การให้บริการของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)เป็นเพียงสื่อกลางในการให้บริการข้อมูลข่าว
                    และ/หรือ บทความแก่ผู้ใช้บริการอินเทอร์เน็ตเท่านั้น
                </p>
            </main>
        </div>
        <div class="question">
            <header>
                <h5>5. ความลับ</h5>
                <i class="fas fa-chevron-down"></i>
            </header>
            <main>
                <p>ข้อมูลที่ลงทะเบียนหรือข้อมูลอื่นใดของผู้ใช้เว็บไซต์นี้อยู่ภายใต้นโยบายความลับของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)
                </p>
            </main>
        </div>
        <div class="question">
            <header>
                <h5>6. การละเมิดข้อตกลงในการใช้เว็บไซต์</h5>
                <i class="fas fa-chevron-down"></i>
            </header>
            <main>
                <p>ในกรณีที่มีการละเมิดข้อตกลงนี้ การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)สงวนสิทธิที่จะได้รับการเยียวยาที่มีขึ้นตามกฎหมาย
                    รวมถึงสิทธิที่จะระงับการเข้าถึงเว็บไซต์ของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ทางอินเทอร์เน็ต
                </p>
            </main>
        </div>
        <div class="question">
            <header>
                <h5>7. นโยบายระงับข้อพิพาท</h5>
                <i class="fas fa-chevron-down"></i>
            </header>
            <main>
                <p>
                    เพื่อเป็นการระงับข้อพิพาทต่าง ๆ
                    ที่อาจเกิดขึ้นจากการให้บริการบนเว็บไซต์นี้ของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)
                    หากผู้ใช้บริการประสบปัญหาหรือได้รับความเสียหายจากข้อความ เนื้อหา หรือบริการใด ๆ รวมถึงการละเมิดสิทธิ
                    และสิทธิทรัพย์สินทางปัญญาใด ๆ ที่ปรากฏบนเว็บไซต์ของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)
                    การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)มีนโยบายในการระงับข้อพิพาทต่าง ๆ ดังนี้
                </p>
                <p>
                    ผู้ที่ได้รับความเสียหายต้องดำเนินการแจ้งข้อเรียกร้องเป็นลายลักษณ์อักษร
                    ที่ชัดเจนแก่พนักงานของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ตามที่อยู่ด้านล่างนี้
                </p>
                <p>โดยระบุรายละเอียด ดังต่อไปนี้</p>
                <p>ชื่อ ที่อยู่ ที่สามารถติดต่อได้</p>
                <p>โทรศัพท์ : 02-716-4044</p>
                <p>โทรสาร : 02-716-4030</p>
                <p>อีเมล : parkandride@mrta.co.th</p>
                <p>ท่านต้องดำเนินการแจ้งข้อเรียกร้อง และ/หรือ ข้อเสนอแนะดังกล่าวโดยติดต่อมายัง
                    การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)</p>
                <p>หมายเลขโทรศัพท์ / อีเมล์ ที่สามารถติดต่อได้</p>
                <p>รายละเอียดของข้อร้องเรียน และ/หรือ พยานหลักฐานเกี่ยวกับการกระทำผิดกฎหมาย (ถ้ามี)</p>
                <p>ข้อเสนอแนะหรือคำแนะนำหรือคำร้องที่ต้องการให้การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ดำเนินการ
                    ภายหลักจากการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)รับทราบข้อเรียกร้องดังกล่าวแล้ว</p>
                <p>การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)จะดำเนินการติดต่อกับผู้ที่เกี่ยวข้องและแจ้งให้กรรมการผู้จัดการหรือผู้ที่ได้รับมอบหมายของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)ทราบ โดยจะดำเนินการแก้ไขปัญหาดังกล่าว ภายใน 15 วัน
                    นับตั้งแต่วันที่ท่านได้แจ้งให้การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ทราบเป็นลายลักษณ์อักษร
                    โดยมีเนื้อหาตามที่การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ระบุไว้ข้างต้น
                    ในระหว่างการดำเนินการดังกล่าว ท่านตกลงที่จะไม่ดำเนินคดีหรือท่านสละสิทธิในการดำเนินคดี
                    ไม่ว่าในทางแพ่ง และ/หรือ ทางอาญากับการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) เนื่องจาก
                    การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)จำเป็นต้องใช้เวลาในการตรวจสอบและสอบสวนข้อเท็จจริงเพิ่มเติม
                </p>
            </main>
        </div>
        <div class="question">
            <header>
                <h5>8. การชดเชยค่าเสียหาย</h5>
                <i class="fas fa-chevron-down"></i>
            </header>
            <main>
                <p>ท่านตกลงและยอมรับว่า ท่านจะให้ความร่วมมือกับการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)ในการดำเนินการต่าง ๆ เพื่อแก้ไขและยุติปัญหาที่เกิดจากการผิดสัญญา การละเมิด
                    หรือปัญหาข้อกฎหมายอื่น ๆ กับการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)อย่างเต็มที่
                    รวมทั้งตกลงและปกป้องไม่ให้การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.) กรรมการ
                    ผู้บริหารหรือพนักงานของการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)หรือการรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย
                    (รฟม.)ในเครือถูกฟ้องร้องหรือเรียกร้อง ค่าเสียหายจากบุคคลภายนอก หากท่านกระทำผิดข้อกำหนดและเงื่อนไขใด ๆ
                    ในเว็บไซต์นี้ ท่านจะชดเชยค่าเสียหายให้แก่การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)ตามที่กฎหมายกำหนด
                </p>
            </main>
        </div>
    </div>


    {% include "comps/footer.html" %}
</body>
<script>
    $(document).ready(function () {
        $('#accordion header').click(function () {
            $(this).next()
                .slideToggle(200)
                .closest('.question')
                .toggleClass('active')
                .siblings()
                .removeClass('active')
                .find('main')
                .slideUp(200);
        })
    });
</script>

</html>