<!DOCTYPE html>
<html lang="en">

<head>
  {% include "include/manage-css.html" %}
  {% include "include/manage-js.html" %}
  <title>MRTA จัดการกิจกรรม</title>
  <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
  <link href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" rel="stylesheet" />

  <script src="//code.jquery.com/jquery-3.5.1.js"></script>
  <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

  <script src="//cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
  <script src="//cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="//cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
  <script src="//cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
</head>

<style>
  .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th,
  .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td,
  .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th,
  .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
    vertical-align: baseline;
  }
</style>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    {% include "manage/comps/header.html" %}
    {% include "manage/comps/sidebar.html" %}

    <!-- Messenger ปลั๊กอินแชท Code -->
    <div id="fb-root"></div>

    <!-- Your ปลั๊กอินแชท code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-3">
            <div class="col-sm-12 mb-3">
              <h1 class="m-0" style="color: #1a086e; font-size: 38px; font-weight: bold;">การจัดการกิจกรรม</h1>
            </div>

            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <table id="parking-list2" class="table table-bordered table-striped" style="width:100%">

                    <!--Start select type_activity -->
                    <span class="h6">ประเภทกิจกรรม : </span>
                    <select name="status" id="status-select" style=" width: 15%;">
                      <option value="">--ทั้งหมด--</option>
                      <option>private</option>
                      <option>public</option>
                    </select>


                    <!--end type_activity -->
                    <!--Start search -->
                    <div class="wrap">
                      <div class="input-group row">
                        <div class="col-sm-4 input-group">
                          <input type="text" id="activity" class="form-control" placeholder="ค้นหา" name="search" />
                          <div class="input-group-btn">
                            <button class="btn btn-primary " type="submit">
                              <i class="fas fa-search"></i></button>
                          </div>
                        </div>


                        <button class="btn btn-success mb-2 ml-3" id="excel"><i class="far fa-file-excel"></i> Export to
                          Excel</button>

                        <button class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal-add"
                          style="margin-left: auto">
                          <i class="fas fa-plus"></i> เพิ่มข้อมูล
                        </button>
                        <!--button add -->
                      </div>
                    </div>
                </div>

                <thead>
                  <tr>
                    <th>NO.</th>
                    <!--Topic No-->
                    <th>รูปภาพ</th>
                    <!--Topic image-->
                    <th>ชื่อกิจกรรม</th>
                    <!--Topic activity-->
                    <th>รายละเอียด</th>
                    <!--Topic detail-->
                    <th>รายละเอียด eng</th>
                    <!--Topic detail eng-->
                    <th>ประเภทกิจกรรม</th>
                    <!--Topic activity_type-->
                    <th>สถานะกิจกรรม</th>
                    <!--Topic activity_status-->
                    <th>วันที่สร้าง</th>
                    <!--Topic date create-->
                    <th>วันที่แก้ไข</th>
                    <!--Topic date edit-->
                    <!-- <th>User สร้าง</th> -->
                    <!--Topic date create-->
                    <!-- <th>User แก้ไข</th> -->
                    <!--Topic date edit-->
                    <th>การจัดการ</th>
                    <!--Topic manage edit and delete-->
                  </tr>
                </thead>
                <tbody>
                  {% for row in data %}
                  <tr>
                    <td>{{row.Id}}</td>
                    <td>{{row.activity_image}}</td>
                    <td>{{row.activity_name}}</td>
                    <td>{{row.activity_des}}</td>
                    <td>{{row.activity_des_eng}}</td>
                    {% if row.activity_type == '1' %}
                    <td>public</td>
                    {% elif row.activity_type == '2' %}
                    <td>private</td>
                    {% endif %}
                    <td>{{row.activity_status}}</td>
                    <td>{{row.user_create_date}}</td>
                    <!--Detail in date create table-->
                    <td>{{row.user_edit_date}}</td>
                    <!--Detail in date edit table-->
                    <!-- <td>{{row.8}}</td>
                        <td>{{row.9}}</td> -->
                    <td class="textbox">
                      <!--Button edit and delete in table-->
                      {{row.button|safe}}
                    </td>
                    <!--end button edit and delete in table-->
                  </tr>
                  {% endfor %}
                  <div class="modal fade" id="Modaledit" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">อัปเดตข้อมูล</h5>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                          <form action="{{url_for('update_activity')}}" method="POST" enctype="multipart/form-data">
                            <div class="form-group row mt-2">
                              <div class="col-sm-6 mt-2">
                                <label for="">รูปภาพ: <small>ขนาดรูปภาพ(730px x 400px)</small> </label>
                                <input type="hidden" name="id" id="id_update" value="">
                                <input type="file" name="activity_image" id="activity_image2" onchange='validateSize2(this);'><br>
                              </div>
        
                              <div class="col-sm-6 mt-2">
                                
                                <button type="button" id="showimg2" onclick="switchimg2();" style="display: none;">ดูรูปภาพ</button>
                              </div>
                            </div>
                            <img id="output2" width="300" height="400" style="display: none;"/>

                            <div class="form-group">
                              <label>ชื่อกิจกรรม:</label>
                              <input type="text" class="form-control" name="activity_name" id="activity_name2" value="">
                            </div>
                            <div class="form-group">
                              <label>รายละเอียดกิจกรรม:</label>
                              <textarea type="text" class="form-control" name="activity_des" id="activity_des2" value="" maxlength="5000"></textarea>
                            </div>
                          <div class="form-group">
                            <label>ชื่อกิจกรรม (ENG):</label>
                            <input type="text" class="form-control" name="activity_name_eng" id="activity_name_eng2" value="">
                          </div>
                          <div class="form-group">
                            <label>รายละเอียดกิจกรรม (ENG):</label>
                            <textarea type="text" class="form-control" name="activity_des_eng" id="activity_des_eng2" value="" maxlength="5000"></textarea>
                          </div>
                            

                            <div class="form-group row mt-2">
                              <div class="col-sm-6 mt-2">
                                <label>ประเภทกิจกรรม</label>
                                <select class="form-control" name="activity_type" id="activity_type2"> 
                                </select>
                              </div>
                              <div class="col-sm-6 mt-2">
                                <label>สถานะ</label>
                                <select class="form-control" id="activity_status2" name="activity_status">                        
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>วันที่เผยแพร่กิจกรรม:</label>
                              <input type="date" class="form-control" name="activity_date" id="activity_date2" value=""
                                >
                            </div>
                            <div class="form-group">
                              <label>วันที่สิ้นสุดการเผยแพร่:</label>
                              <input type="date" class="form-control" name="end_activity" id="end_activity2" value="">
                            </div>
                            <div class="form-group">
                              <label>วันที่สร้าง:</label>
                              <input type="text" class="form-control" name="user_create_date" id="user_create_date2" value=""
                                readonly>
                            </div>
                            <div class="form-group">
                              <label>วันที่แก้ไข:</label>
                              <input type="text" class="form-control" name="user_edit_date" id="user_edit_date2" value="" readonly>
                            </div>
                            <div class="form-group">
                              <button class="btn btn-primary" type="submit">อัปเดต</button>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <!--modal Add-->
        <div class="card-body">
          <table id="example" class="table table-bordered table-striped" style="width:100%">
            <div class="modal fade bd-example-modal-lg" id="exampleModal-add" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูล</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="container py-5">
                    <div class="row">
                      <div class="col-md-10 mx-auto">
                        <form action="{{ url_for('insert_activity_manage') }}" method="post"
                          enctype="multipart/form-data">

                          <div class="form-group row mt-2">
                            <div class="col-sm-6 mt-2">
                              <label for="">รูปภาพ:<small>ขนาดรูปภาพ(730px x 400px)</small> </label>
                              <input type="file" name="activity_image" onchange='validateSize(this);'  required><br>
                            </div>
      
                            <div class="col-sm-6 mt-2">
                              <br>
                              <button type="button" id="showimg" onclick="switchimg();"style="display: none;">ดูรูปภาพ</button>
                            </div>
                          </div>
                          <img id="output" width="500" height="600"style="display: none;"/>

                          <div class="col-sm-12 mt-4">
                            <label for="activity_name">ชื่อกิจกรรม:</label>
                            <input class="form-control" type="text" id="activity_name" name="activity_name" required>
                          </div>

                          <div class="col-sm-12 mt-4">
                            <label for="activity_des">รายละเอียด: </label>
                            <textarea class="form-control" type="text" id="activity_des" name="activity_des" maxlength="5000" ></textarea>
                          </div>

                          <div class="col-sm-12 mt-4">
                            <label for="activity_name_eng">ชื่อกิจกรรม (ENG):</label>
                            <input class="form-control" type="text" id="activity_name" name="activity_name_eng" required>
                          </div>

                          <div class="col-sm-12 mt-4">
                            <label for="activity_des_eng">รายละเอียด (ENG): </label>
                            <textarea class="form-control" type="text" id="activity_des" name="activity_des_eng" maxlength="5000" ></textarea>
                          </div>

                          <div class="form-group row mt-2">
                            <div class="col-sm-6 mt-2">
                              <label>ประเภทกิจกรรม</label>
                              <select class="form-control" name="activity_type" id="activity_type" required>
                                <option value="">--ประเภทกิจกรรม--</option>
                                <option value="1">public</option>
                                <option value="2">private</option>
                              </select>
                            </div>

                            <div class="col-sm-6 mt-2">
                              <label>สถานะ</label>
                              <select class="form-control" id="activity_status" name="activity_status" required>
                                <option value="">--ประเภทสถานะ--</option>
                                <option value="active">Active</option>
                                <option value="inactvie">Inactive</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-sm-6 mt-4">
                              <label for="activity_date">วันที่เผยแพร่กิจกรรม: </label>
                              <input class="form-control" type="date" id="activity_date" name="activity_date" required>
                            </div>
                            <div class="col-sm-6 mt-4">
                              <label for="end_activity">วันที่สิ้นสุดการเผยแพร่: </label>
                              <input class="form-control" type="date" id="end_activity" name="end_activity"
                                required>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-sm-6 mt-4">
                              <label for="user_create_date">วันที่สร้าง: </label>
                              <input class="form-control" type="date" id="user_create_date" name="user_create_date"
                                required>
                            </div>
                          </div>

                          <!-- <div class="form-group row">
                  <div class="col-sm-6 mt-4">
                      <label for="user_create">User สร้าง: </label>
                      <input class="form-control" type="text" id="user_create" name="user_create">
                    </div>
                    
                    <div class="col-sm-6 mt-4">
                      <label for="user_edit">User แก้ไข: </label>
                      <input class="form-control" type="text" id="user_edit" name="user_edit">
                    </div>
                  </div> -->
                          <button type="button" class="btn btn-secondary ml-2 mt-4 float-right"
                            data-dismiss="modal">ยกเลิก</button>
                          <button type="submit" value="Submit" class="btn btn-primary float-right mt-4"
                            class="fas fa-save">บันทึกข้อมูล</button>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% include "manage/comps/footer.html" %}
</body>


<script>
  $(document).ready(function () {
    $('#parking-list2').DataTable({
      "dom": 'Btip',
      "processing": true,
      "pageLength": 10,
      "scrollY": 300,
      "order": [[ 0, "desc" ]],
      "scrollX": true,
      "oLanguage": {
        "sLengthMenu": "แสดง _MENU_ ลำดับ ต่อหน้า",
        "sZeroRecords": "ไม่พบข้อมูลที่ค้นหา",
        "sInfo": "แสดง _START_ ถึง _END_ ของ _TOTAL_ ลำดับ",
        "sInfoEmpty": "แสดง 0 ถึง 0 ของ 0 ลำดับ",
        "sInfoFiltered": "(แสดงค้นหาทั้งหมด _MAX_ รายการ)",
        "oPaginate": {
          "sFirst": "หน้าแรก",
          "sLast": "หน้าสุดท้าย",
          "sNext": "ถัดไป",
          "sPrevious": "ก่อนหน้า"
        }
      }
    });

    oTable = $('#parking-list2').DataTable();
    oTable.buttons('.buttons-csv').nodes().css("display", "none");
    oTable.buttons('.buttons-excel').nodes().css("display", "none");
    oTable.buttons('.buttons-print').nodes().css("display", "none");
    oTable.buttons('.buttons-pdf').nodes().css("display", "none");
    oTable.buttons('.buttons-copy').nodes().css("display", "none");
    $('#activity').keyup(function () {
      oTable.search($(this).val()).draw();
    });

    $('#status-select').on('change', function () {
      oTable.columns(4).search(this.value).draw()
    });
    $('#excel').on('click', function () {
      oTable.button('.buttons-excel').trigger();
    })
  });
</script>
<script>
  function validateSize(input) {
    const fileSize = input.files[0].size / 1024 / 1024;
    const shbutton = document.getElementById('showimg');
    const eximg = document.getElementById('output');
    console.log('asdfsdf')
    if (fileSize > 2) {
      alert('File size exceeds 2 MB');
      input.value = null
      shbutton.style.display = 'none';
      console.log('success')
    } else {
      eximg.style.display = 'none'
      eximg.src = URL.createObjectURL(input.files[0]);
      shbutton.style.display = 'block';
    }
  }
  function validateSize2(input2) {
    const fileSize2 = input2.files[0].size / 1024 / 1024;
    const shbutton2 = document.getElementById('showimg2');
    const eximg2 = document.getElementById('output2');
    console.log('asdfsdf')
    if (fileSize2 > 2) {
      alert('File size exceeds 2 MB');
      input2.value = null
      shbutton2.style.display = 'none';
      console.log('success')
    } else {
      eximg2.style.display = 'none'
      eximg2.src = URL.createObjectURL(input2.files[0]);
      shbutton2.style.display = 'block';
      console.log('pass')
    }
  }
  function switchimg (){
    const img_ex = document.getElementById('output');
    if (img_ex.style.display === 'none'){
      img_ex.style.display = 'block';
    }else{
      img_ex.style.display = 'none';
    }
  }
  function switchimg2 (){
    const img_ex2 = document.getElementById('output2');
    if (img_ex2.style.display === 'none'){
      img_ex2.style.display = 'block';
    }else{
      img_ex2.style.display = 'none';
    }
  }
</script>
<script>
  function showdataupdate(index){
    $.ajax({
      url:'/manage/modal_activity',
      method:'POST',
      data:{id:index},
      success:function(data){
        $('#activity_image2').val(null)
        $('#showimg2').css("display", "none")
        $('#output2').css('display','none')
        $('#id_update').val(data[0].Id)
        $('#activity_name2').val(data[0].activity_name)
        $('#activity_des2').val(data[0].activity_des)
        if (data[0].activity_type == '1'){
          document.getElementById('activity_type2').innerHTML = '<option value="1">public</option>'
          document.getElementById('activity_type2').innerHTML +='<option value="2">private</option>'
        }else{
          document.getElementById('activity_type2').innerHTML = '<option value="2">private</option>'
          document.getElementById('activity_type2').innerHTML +='<option value="1">public</option>'
        }
        if (data[0].activity_status == 'active'){
          document.getElementById('activity_status2').innerHTML = '<option value="active">active</option>'
          document.getElementById('activity_status2').innerHTML += '<option value="inactive">inactvie</option>'
        }else{
          document.getElementById('activity_status2').innerHTML = '<option value="inactive">inactvie</option>'
          document.getElementById('activity_status2').innerHTML += '<option value="active">active</option>'
        }
        $('#user_create_date2').val(data[0].user_create_date)
        $('#user_edit_date2').val(data[0].user_edit_date)
        $('#activity_name_eng2').val(data[0].activity_name_eng)
        $('#activity_des_eng2').val(data[0].activity_des_eng)
        $('#activity_date2').val(data[0].activity_date)
        $('#end_activity2').val(data[0].end_activity)
      }
    })
  }
</script>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "106927381737911");
  chatbox.setAttribute("attribution", "biz_inbox");

  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v11.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/th_TH/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


</html>