<!DOCTYPE html>
<html lang="en">

<head>
    {% include "include/manage-css.html" %}
    {% include "include/manage-js.html" %}
    <title>MRTA กำหนดการเข้าถึง</title>
</head>


<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {% include "manage/comps/header.html" %}
        {% include "manage/comps/sidebar.html" %}

    <!-- Messenger ปลั๊กอินแชท Code -->
    <div id="fb-root"></div>

    <!-- Your ปลั๊กอินแชท code -->
    <div id="fb-customer-chat" class="fb-customerchat"></div>

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-sm-12 mb-3">
                            <h1 class="m-0" style="color: #1a086e; font-size: 38px; font-weight: bold;">
                                กำหนดการเข้าถึง</h1>
                        </div>
                        
                           
                        <div class="col-sm 24 ">
                          <div class="card">
                              <div class="card-body">
                                  <table id="permission-list1" class="table table-bordered table-striped"
                                      style="width:100%;">
                                
                                      <button class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal-add"
                                      style="margin-left: 90%;">
                                      <i class="fas fa-plus"></i> เพิ่มข้อมูล
                                  </button>
                            <!--button add -->
                            <!-- <button class="btn btn-primary mb-2"><i class="fas fa-plus"></i> เพิ่ม</button> -->
                                        <thead>
                                            <tr>
                                                <th>รหัสพนักงาน</th>
                                                <th>ชื่อ-นามสกุล</th>
                                                <th>รหัสลานจอดรถ</th>
                                                <th>ลานจอดรถ</th>
                                                <th>สถานะ</th>
                                                <th>วันที่สร้าง</th>
                                                <th>วันที่แก้ไขล่าสุด</th>
                                                <th>จัดการ</th>
                                            </tr>
                                        </thead>
                                        {%for row in datas%}
                                        <tbody>
                                            <tr">
                                                <td>{{row.id}}</td>
                                                <td>{{row.first_name}}{{row.last_name}}</td>
                                                <td>{{row.username}}</td>
                                                <td>{{row.role_id}}</td>
                                                <td>{{row.parking_code}}</td>
                                                <td>{{row.user_create_date}}</td>
                                                <td>{{row.user_edit_date}}</td>
                                                <td>
                                                    <button class="btn btn-warning">แก้ไข</button>
                                                </td>
                                            </tr>
                                          
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--Pop up เพิ่มข้อมูล-->
  <div class="card-body">
    <table id="example" class="table table-bordered table-striped">
      <div class="modal fade bd-example-modal-lg" id="exampleModal-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูล</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="container py-5">
              <div class="row">
                  <div class="col-md-10 mx-auto">
                    <form action="{{ url_for('insert_new_manage') }}" method="post" enctype="multipart/form-data">
                <!-- <label for="">No:  </label> -->

                          <input class="modalinput" type="hidden" id="" name="" placeholder="">

                        <div class="col-sm-12 mt-2">
                          <label for="">รหัสพนักงาน: </label>
                          <input type="text" name="admid_id" class="form-control">
                        </div>

                        <div class="col-sm-12 mt-2">
                          <label for="news_des">รหัสลานจอดรถ: </label>
                          <input class="form-control" type="text" id="news_des" name="news_des">
                        </div>

                      
                         <div class="col-sm-12 mt-2">
                            <label for="news_name">ชื่อ-นามสกุล: </label>
                            <input class="form-control" type="text" id="news_name" name="news_name">
                        </div>

                        
                         <div class="col-sm-12 mt-2">
                                <label for="news_name">Username: </label>
                                <input class="form-control" type="text" id="news_name" name="news_name" style="height: 40%;">
                         </div>

                          <div class="form-group row mt-2">
                            <div class="col-sm-6 mt-2">
                              <label>สิทธิ์การเข้าถึง</label>                      
                                <select  class="form-control"
                                name="regiter">
                                <option value=1>--สิทธิการเข้าถึง--</option>
                                <option value=2></option>
                                <option value=3></option>
                                <option value=4></option>
                                <option value=4></option>
                               
                                   
                            </select>
                        </div>
                            
                          <div class="col-sm-6 mt-2">
                            <label>ลานจอดที่ดูแล</label>                      
                              <select  class="form-control"
                              name="regiter">
                              <option value=1>--ลานจอด--</option>
                              <option value=2></option>
                              <option value=3></option>
                              <option value=4></option>
                              <option value=5></option>
                              <option value=6></option>
                              <option value=7></option>
                              <option value=8></option>
                              <option value=9></option>
                              <option value=10></option>
                              <option value=11></option>
                              <option value=12></option>
                              <option value=13></option>
                              <option value=14></option>
                              <option value=15></option>
                              <option value=16></option>      
                          </select>
                      </div>
                   
                          
                          <div class="col-sm-6 mt-2">
                              <label for="news_status">สถานะ: </label>
                              <input class="form-control" type="text" id="news_status" name="news_status">
                          </div>
                        </div>
                    
                      
                          <div class="form-group row mt-2">
                            <div class="col-sm-6 mt-2">
                              <label for="user_create_date">วันที่สร้าง: </label>
                              <input class="form-control" type="date" id="user_create_date" name="user_create_date">
                            </div>
                          
                         <div class="col-sm-6 mt-2">
                            <label for="user_edit_date">วันที่แก้ไขล่าสุด: </label>
                            <input class="form-control" type="date" id="user_edit_date" name="user_edit_date">
                         </div>
                        </div>
                          
                          <!--<div class="form-group row mt-2">
                            <div class="col-sm-6 mt-2">
                              <label for="user_create">User สร้าง: </label>
                              <input class="form-control" type="text" id="user_create" name="user_create">
                            </div>
                            
                            <div class="col-sm-6 mt-2">
                              <label for="user_edit">User แก้ไข: </label>
                              <input class="form-control" type="text" id="user_edit" name="user_edit">
                            </div>
                          </div>-->
                          
                          <button type="button" class="btn btn-secondary float-right ml-2 mt-4" data-dismiss="modal">ยกเลิก</button>
                          <button type="submit" value="Submit" class="btn btn-primary float-right mt-4" class="fas fa-save">บันทึกข้อมูล</button>
                          
                        </form>
            </div>
              </div>
                 </div>
            </div>
          </div>
        </div>
      </div>
    </table>
  </div>
    {% include "manage/comps/footer.html" %}
</body>

<script>
    $(document).ready(function () {
        $.extend(true, $.fn.dataTable.defaults, {
            "language": {
                "sProcessing": "กำลังดำเนินการ...",
                "sLengthMenu": "แสดง_MENU_ แถว",
                "sZeroRecords": "ไม่พบข้อมูล",
                "sInfo": "แสดง _START_ ถึง _END_ จาก _TOTAL_ แถว",
                "sInfoEmpty": "แสดง 0 ถึง 0 จาก 0 แถว",
                "sInfoFiltered": "(กรองข้อมูล _MAX_ ทุกแถว)",
                "sInfoPostFix": "",
                "sSearch": "ค้นหา:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "เริ่มต้น",
                    "sPrevious": "ก่อนหน้า",
                    "sNext": "ถัดไป",
                    "sLast": "สุดท้าย"
                }
            }
        });
        $('#permission-list1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        });
    });
</script>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "100284352404777");
  chatbox.setAttribute("attribution", "biz_inbox"); window.fbAsyncInit = function() {
  FB.init({
  xfbml : true,
  version : 'v11.0'
  });
  }; (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

</html>